<div class="list-group">
<div class="list-group-item">
<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
</div>
<% if @task.completed == true%>
☒ TASK COMPLETED
<% else %>
☐ TASK NOT YET COMPLETED
<% end %>
</div>
<br>
<br>
<%= link_to "Edit the task", edit_task_path %>
<a href="http://127.0.0.1:3000/tasks" class="text-black">Return to all the tasks</a>
